
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

:root {
    --main-bg-color: #f8f8f8; /* Light background color */
    --input-bg-color: #ffffff; /* White input fields */
    --body-color: #333; /* Darker text for better contrast */
    --accent-color: #bada55; /* Blue for accents, similar to Bootstrap's primary color */
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: var(--main-bg-color);
    color: var(--body-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    max-width: 400px;
    background-color: var(--input-bg-color);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Lighter shadow for subtlety */
    margin: 10px;
}

h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: var(--accent-color); /* Blue color for headers */
}

p {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    background-color: var(--input-bg-color);
    color: var(--body-color);
    border: 1px solid #ccc; /* Subtle border for fields */
    border-radius: 5px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--body-color); /* Ensuring readable label color */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0069d9; /* A slightly darker hover state */
}

span {
    color: #dc3545; /* Bootstrap's danger color for errors */
    font-size: 12px;
    display: none;
}

p:last-of-type {
    margin-bottom: 0;
}

.top-right-container {
    position: fixed; /* Fixed position relative to the viewport */
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    margin: 10px; /* Add some margin */
    z-index: 1000; /* Ensure it's above other elements */
}

.top-right-container button {
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.top-right-container button:hover {
    background-color: #0056b3; /* A different shade for hover effect */
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/icons/background_image_login_page.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5; 
    z-index: -1; 
}

body {
    font-family: 'Roboto Mono', monospace;
    color: var(--body-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-left-container {
    position: absolute; /* Absolute position relative to the nearest positioned ancestor */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    margin: 10px; /* Add some margin */
    z-index: 1000; /* Ensure it's above other elements */
}

#logo {
    background-color: lightgray;
    border-radius: 20%;
    border: 5px;
    height: 100px; /* Adjust the size as needed */
    width: auto; /* Maintain aspect ratio */
}
