#map-container {
    text-align: center;
  }
  #map {
    height: 600px; /* Increased height */
    width: 70%; /* Reduced width */
    margin: 20px auto;
  }
  .popup-content {
    max-height: 300px; /* Set your desired maximum height */
    overflow-y: auto; /* Enable vertical scroll if content exceeds the maximum height */
    text-align: center;

  }

  img {
    max-width: 200px;
    max-height: 170px;
    width: 90%; /* Set the desired width */
    height: auto; /* Automatically calculate the height to maintain aspect ratio */
  }